<li class="d2h-file-list-line">
  <span class="d2h-file-name-wrapper">
    {{>fileIcon}}
    <a href="#{{fileHtmlId}}" class="d2h-file-name">{{fileName}}</a>
    <span class="d2h-file-stats">
        {{#file.isBinary}}
        <span class="d2h-binary-file">Binary changes</span>
        {{/file.isBinary}}
        {{^file.isBinary}}
        <span class="d2h-lines-added">{{addedLines}}</span>
        <span class="d2h-lines-deleted">{{deletedLines}}</span>
        {{/file.isBinary}}
    </span>
  </span>
</li>